<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;

</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/map_sensors/">Sensor Map</a></li>
  <li><a href="/list_sensors/">Sensor List</a></li>
  <li><a class = "active" href="/future">Future Prospects</a></li>
  <li><a href="/team">Team</a></li>
</ul>
<h2 style="color:white;">sddsad</h2>

<ul style="background-color: coral;font-weight: 750;font:monospace;">
	<li>The mesh network implemented in this project has a wide range of applications in a lot of future projects. A fully exhaustive and functional mesh network effectively connects the entire campus leading to a proper intranet connectivity inside the campus for use by the student and residential community at IITD. </li>
	<li style="color:coral;">sdsd</li>
	<li>Projects like Bird Watching which employ sound to recognise the bird can be deployed on the mesh network to effectively map the entire data on the cloud server and maintain a map with the spatial distribution of various bird species.</li>
	<li style="color:coral;">sdsd</li>
	<li>In its even advanced form, the mesh network can be used to send bits of sound files as well as image files which makes it a completely robust sharing network. This could be used to create Blind Friendly campus where the data from the respective edge nodes of the mesh network provide information about the location directly to the mobile phone apps. </li>
	<li style="color:coral;">s d a s s s ss s s ss s s ss ss s ss s s s s ss ss ss s ss s s s ss s s ss s s s ss s s ssssssssssssssssssssssssssssssssssssssssssssssssssssssdsdsadasssssssssssssssssssssssssss</li><br/>
	<li>These are certain future prospects that our mesh network intends to realise.</li>
</ul>
</body>
</html>