{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensors</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;

</style>
</head>

<body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/map_sensors/">Sensor Map</a></li>
  <li><a class="active" href="/list_sensors/">Sensor List</a></li>
  <li><a href="/future">Future Prospects</a></li>
  <li><a href="/team">Team</a></li>
</ul>
<h1>Here are status of all sensors</h1>
{% if all_sensors %}
<ol>
    {% for sensor in all_sensors %}
    <li>{{ sensor.name }} - {% if sensor.noise %} Active {% else %} Inactive {% endif %}</li><br>
    {% endfor %}
</ol>
{% else %}
    <h2>No sensors in the mesh network</h2>
{% endif %}

</body>
</html>